/* user select disabled  */
.weather__content {
  user-select: none;
}

/* pop-up animation */
@keyframes pop {
  0% { 
    opacity: 0;
    transform: translate3d(70px, 10px);
    }
  100% { 
    opacity: 1;
    transform: translate3d(80px, 10px);
    }
}
.transition {
  transition: all 0.5s;
}
.weather__pop-up > .active {
  animation: pop .4s ease-in-out 1;
}

.weather__pop-up > .hide {
  opacity: 0;
}

.weather__content {
  position: relative;
  color: #222222;
}

.weather__tab {
  position: relative;
}

.weather__button {
  background-color: transparent;
  /* width: 95px; */
  position: absolute;
  top: 10px;
  right: 10px;
  outline: 0px;
  border-style: none;
  cursor: pointer;
  text-align: right;
}

.weather__button-icon,
.weather__stat-number,
.weather__degree {
  font-size: 1.325rem;
  color: #ffffff;
}

.weather__button-icon {
  display: inline-block;
  margin-right: 3px;
}

.weather__button-icon > img {
  width: 40px;
  height: 40px;
}

.app__stat-number-pm,
.app__degree-pm {
  font-size: 2.7rem;
  color: #9a9a9b;
  line-height: 1.2rem;
}

.weather__city {
  font-size: .8rem;
  color: #ffffff;
  opacity: .8;
  white-space: nowrap;
}

.weather__app {
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: #fdfdff;
  box-sizing: border-box;
  width: 440px;
  border-radius: 5px;
  padding: 20px;
}

.weather__app::before {
  content: '';
  border-top: 0 solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fdfdff;
  position: absolute;
  right: 33px;
  top: -7px;
}

.weather__current-city {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.weather__condition {
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #9a9a9b;
}

.weather__app-info {
  height: 70px;
  font-size: 3.5rem;
  margin-bottom: 15px;
}

.app__icon > img {
  display: inline-block;
  width: 70px;
  height: 70px;
}

.forecast__list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  border-top: 1px solid #e3e4e5;
  margin-top: 15px;
  padding-top: 10px;
  font-size: .7rem;
  cursor: pointer;
}

.forecast__list > .selected {
  border-radius: 10px;
  box-shadow: 1px 0 3px #ececec, 0 1px 3px #ececec, -1px 0 3px #ececec, 0 -1px 3px #ececec;
}

.forecast__list-items {
  padding: 5px 2px;
  width: 75px;
  height: 42px;
  text-align: center;
}

.forecast__icon {
  font-size: 1rem;
}

.forecast__icon > img {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: bottom;
}

.forecast__label {
  display: inline-block;
  margin: 3px;
  width: 100%;
  opacity: .6;
}

.forecast__low {
  opacity: .4;
}